body {
    background-color: black;
    margin: auto;
}
header {
    background-color: #ff0000;
}
#Tattoo-Aftercare-Instructions {

    display: block;
    background-color: #ff0000;
    height:30px;
    width:200px;
    border-color: #ff0000;
}