header { 
background-color: #ff0000;
width: 10rem;
height: 10rem;
}



.center {
    position: absolute;
    margin: auto;
    align-items: center;
}
div {

    align center;
}
a {
    
    
}
button{
    align-items: center;
    use margin: auto;
}
body {
    background-color: black;
    margin:0 auto ;
    align-items: center;
}
header {
    background-color: #ff0000;
}
#Tattoo-Aftercare-Instructions {

    display: block;
    background-color: #ff0000;
    height:30px;
    width:200px;
    border-color: #ff0000;
}